.certificates-layout {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Text links / Zertifikate / Text rechts */
  align-items: center;
  gap: 20px;
}


.certificates-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

.cert-card {
  position: relative;
  width: 200px; /* kann angepasst werden */
  aspect-ratio: 3 / 4; /* Höhe proportional */
  border: 2px solid #b0b4ac;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.05);
}

.akademie {
  position: relative;
  width: 200px; /* kann angepasst werden */
  aspect-ratio: 3 / 4; /* Höhe proportional */
  border-radius: 8px;
  overflow: hidden;
}