
.div2,
.div3,
.div4,
.div6 {
  display: flex;
  position:relative;
  justify-content: center;
  align-items: center;
}

/* Einheitliche Größe für Zertifikate */
.Certificate1Div,
.Certificate2Div,
.Certificate3Div,
.ImageDiv {
  position: relative;
  width: 100%;
  height:100%;
  aspect-ratio: 3 / 2; /* z. B. 3:2-Format */
  overflow: hidden;}
.certimg {
  object-fit: contain;
}
