@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";

* {
  font-family: var(--ff);
}

:root {
    --ff: 'Inria Serif';
    --color-bg-dark: hsl(0, 0%, 90%);
    --color-bg: hsl(0, 0%, 95%);
    --color-bg-light: hsl(0, 0%, 100%);
    --color-text: hsl(0, 0%, 30%);
    --color-text-primary: hsl(0, 0%, 5%);
    --color-border: hsl(0, 0%, 100%);
    --color-highlight: hsl(0, 0%, 100%);
    --gradient-regular: linear-gradient(0deg, var(--color-bg), var(--color-bg-light));
    --gradient-regular-hover: linear-gradient(0deg, var(--color-bg), var(--color-bg-light));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-dark: hsl(0, 0%, 0%);
    --color-bg: hsl(0, 0%, 5%);
    --color-bg-light: hsl(0, 0%, 10%);
    --color-text: hsl(0, 0%, 70%);
    --color-text-primary: hsl(0, 0%, 95%);
    --color-border: hsl(0, 0%, 30%);
    --color-highlight: hsl(0, 0%, 60%);
    --gradient-regular: linear-gradient(0deg, var(--color-bg), var(--color-bg-light));
    --gradient-regular-hover: linear-gradient(0deg, var(--color-bg), var(--color-bg-light));
  }
}

@theme {
  --color-bg-dark: hsl(0, 0%, 90%);
  --color-bg: hsl(0, 0%, 95%);
  --color-bg-light: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 30%);
  --color-text-primary: hsl(0, 0%, 5%);
  --color-border: hsl(0, 0%, 100%);
  --color-highlight: hsl(0, 0%, 100%);
  --color-green: hsla(144, 69%, 63%, 1);
  --color-red: hsla(353, 70%, 60%, 1);
  --color-yellow: hsla(36, 61%, 64%, 1);
  --color-light-blue: hsla(198, 100%, 71%, 1);
  --color-cyan: hsla(182, 31%, 32%, 1);
}

/* Deine restlichen Klassen */
.shadow {
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.6), 0px 6px 6px hsla(0, 0%, 0%, 0.296);
}

.gradient-regular {
    background-image: linear-gradient(0deg, var(--color-bg) 95%, var(--color-bg-light));
}

.gradient-regular:hover {
    background-image: linear-gradient(0deg, var(--color-bg), var(--color-bg-light));
}

.highlight {
    border-top: solid 1px var(--color-highlight);
}

.h1 {
    font: bold 1.125rem/1.4em var(--ff);
}

.h1-heading {
    font: 5.625rem/1.4em var(--ff);
    color: var(--color-text-primary);
}

.h2 {
    font: bold 1rem/1.4em var(--ff);
}

.p {
    font: 1rem/1.4em var(--ff);
}

.p2 {
    font: .875rem/1.4em var(--ff);
}

.gradient-text {
    background: linear-gradient(90deg, #ff6600, #ff00cc, #0066ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}p2 {
    font: .875rem/1.4em var(--ff);
}

.gradient-text {
    background: linear-gradient(90deg, #ff6600, #ff00cc, #0066ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}